@font-face{
    font-family:'gilroy', sans-serif;
    src:url(../fonts/gilroy/Gilroy-ExtraBold.otf);
}
@font-face{
    font-family:'gilroy', sans-serif;
    src:url(../fonts/gilroy/Gilroy-Light.otf);
}
.wrapper{
    max-width: 816px;
    height: 1056px;
    margin: 0 auto;
}
.body-inner-item{
    border: 1px solid red;
    margin: 10px;
}
/*left start*/
.b-r{
    border-right: 4px solid black;
    margin-top: 60px;
}
.circle img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 8px solid black;
}
.c-name h1 {
    font-family: 'gilroy', sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #191919;
    margin: 20px 60px 47px 0px;
}
/*contact start*/
.c-bar h2{
    font-family:'gilroy', sans-serif;
    font-weight: 800;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 15px;
}
.s-con{
    margin: 25px 0;
}
.icon{
    font-size: 20px;
}
.icon-content{
    font-family: 'gilroy', sans-serif;
    font-weight: 300;
    font-size: 18px;
}
.contact{
    margin-bottom: 410px;
}
/*contact end*/
/*left end*/
/*right start*/
.about-text p{
    font-family: 'gilroy', sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin: 15px 0 0 0;
}
.ct-1{
    font-family: 'gilroy', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #191919;
    text-transform: uppercase;
    margin: 0 0 5px 0;
}
.ct-2{
    font-family: 'gilroy', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #191919;
    text-transform: uppercase;
    margin: 0 0 0 0;
}
.ct-3{
    font-family: 'gilroy', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #191919;
    margin: 0 0 0 0;
}
/*reference start*/
.ct-4{
    font-family: 'gilory', sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #191919;
    margin: 0 0 0 0;
}
.reference{
    margin-bottom: 30px;
}
/*reference end*/
